*.pyc
venv
.webassets-cache
*.sublime-project
*.sublime-workspace
project/settings.py
pip-log.txt
static/images/
static/js/main.min.js
static/js/main.js
static/css/styles.min.css
sitemap.txt
dump/
build/
logs/
*main.min.css
*main.min.js
*.db
